<template>
<div>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><b>TONE Networks</b></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <a class="page-scroll" href="/loginhome">Sign In</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Pricing</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
           <div class="container">
               <div class="row">
                   <div class="col-sm-7">
                       <div class="header-content">
                           <div class="header-content-inner">
                               <h1>Tone Networks Live with abandon. Work with abandon.</h1>
                                  <h1>You set the TONE of your life.!</h1>
                               <a href="/users" class="btn btn-outline btn-xl page-scroll">Sign Up for Free!</a>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-5">
                       <div class="device-container">
                           <div class="device-mockup iphone6_plus portrait white">
                               <div class="device">
                                   <div class="screen">
                                       <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                       <img src="/src/assets/img/demo-screen-1.jpg" class="img-responsive" alt="">
                                   </div>
                                   <div class="button">
                                       <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </header>
       <section id="download" class="download bg-primary text-center">
           <div class="container">
               <div class="row">
                   <div class="col-md-8 col-md-offset-2">
                       <h2 class="section-heading">Discover what all the buzz is about!</h2>
                       <p>Our app is available on any mobile device! Download now to get started!</p>
                       <div class="badges">
                           <a class="badge-link" href="#"><img src="/src/assets/img/google-play-badge.svg" alt=""></a>
                           <a class="badge-link" href="#"><img src="/src/assets/img/app-store-badge.svg" alt=""></a>
                       </div>
                   </div>
               </div>
           </div>
       </section>
       <section id="features" class="features">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12 text-center">
                       <div class="section-heading">
                           <h2>Unlimited Features, Unlimited Fun</h2>
                           <p class="text-muted">Check out what you can do with this app theme!</p>
                           <hr>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-4">
                       <div class="device-container">
                           <div class="device-mockup iphone6_plus portrait white">
                               <div class="device">
                                   <div class="screen">
                                       <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                       <img src="/src/assets/img/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
                                   <div class="button">
                                       <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-8">
                       <div class="container-fluid">
                           <div class="row">
                               <div class="col-md-6">
                                   <div class="feature-item">
                                       <i class="icon-screen-smartphone text-primary"></i>
                                       <h3>Device Mockups</h3>
                                       <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                                   </div>
                               </div>
                               <div class="col-md-6">
                                   <div class="feature-item">
                                       <i class="icon-camera text-primary"></i>
                                       <h3>Flexible Use</h3>
                                       <p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>
                                   </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-md-6">
                                   <div class="feature-item">
                                       <i class="icon-present text-primary"></i>
                                       <h3>Free to Use</h3>
                                       <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
                                   </div>
                               </div>
                               <div class="col-md-6">
                                   <div class="feature-item">
                                       <i class="icon-lock-open text-primary"></i>
                                       <h3>Open Source</h3>
                                       <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>
       <section class="cta">
           <div class="cta-content">
               <div class="container">
                   <h2>Stop waiting.<br>Start building.</h2>
                   <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
               </div>
           </div>
           <div class="overlay"></div>
       </section>
       <section id="contact" class="contact bg-primary">
           <div class="container">
               <h2>We <i class="fa fa-heart"></i> new friends!</h2>
               <ul class="list-inline list-social">
                   <li class="social-twitter">
                       <a href="#"><i class="fa fa-twitter"></i></a>
                   </li>
                   <li class="social-facebook">
                       <a href="#"><i class="fa fa-facebook"></i></a>
                   </li>
                   <li class="social-google-plus">
                       <a href="#"><i class="fa fa-google-plus"></i></a>
                   </li>
               </ul>
           </div>
       </section>
       <footer>
           <div class="container">
               <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
               <ul class="list-inline">
                   <li>
                       <a href="#">Privacy</a>
                   </li>
                   <li>
                       <a href="#">Terms</a>
                   </li>
                   <li>
                       <a href="#">FAQ</a>
                   </li>
               </ul>
           </div>
       </footer>
</div>
</template>
