<template>
<div>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/home">TONE Networks</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <a class="page-scroll" href="/loginhome">Sign In</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Pricing</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
           <div class="container">
               <div class="row">
                   <div class="col-sm-7">
                       <div class="header-content">
                           <div class="header-content-inner">
                               <h1>Sign In</h1>
                                <div class="form-group">
                                   <label for="inputsm">Email</label>
                                   <input class="form-control input-lg" id="email" type="text">
                                 </div>
                                 <div class="form-group">
                                    <label for="inputsm">Password</label>
                                    <input class="form-control input-lg" id="pwd" type="password">
                                  </div>
                               <a href="/userhome" class="btn btn-outline btn-xl page-scroll">Login</a>
                           </div>
                       </div>
                       By signing up, I agree to Terms of Service
                       Or, sign up with Google or Facebook

                          <a href="/login" class="btn btn-outline btn-xl page-scroll">Already have an account? Sign in.</a>
                   </div>
                   <div class="col-sm-5">
                       <div class="device-container">
                           <div class="device-mockup iphone6_plus portrait white">
                               <div class="device">
                                   <div class="screen">
                                       <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                       <img src="/src/assets/img/demo-screen-1.jpg" class="img-responsive" alt="">
                                   </div>
                                   <div class="button">
                                       <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </header>

</div>
</template>
