<template>
  <div>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="/home">TONE Networks</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="/loginhome">Sign Out</a>
            </li>
            <li>
              <a class="page-scroll" href="#download">Download</a>
            </li>
            <li>
              <a class="page-scroll" href="#download">Pricing</a>
            </li>

            <li>
              <a class="page-scroll" href="#features">Features</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <header>
      <div class="container">



                <div class="row">
                <video id="my-video" class="video-js" controls preload="auto" width="1080" height="720"
                poster="/src/assets/img/toystoryh.jpg" data-setup='{"controls":true}'>
                <source src="/src/assets/video/mp4/toystory.mp4" type='video/mp4'>
                  <!--source src="MY_VIDEO.webm" type='video/webm'-->
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                  </p>
                </video>
              </div>





      </div>
    </header>    
  </div>
</template>
