<template>
  <div>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="/home">TONE Networks</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="/loginhome">Sign Out</a>
            </li>
            <li>
              <a class="page-scroll" href="#download">Download</a>
            </li>
            <li>
              <a class="page-scroll" href="#download">Pricing</a>
            </li>

            <li>
              <a class="page-scroll" href="#features">Features</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <div class="header-content">
              <div class="header-content-inner">
                <span><h1>Welcome Shahzad</h1></span>
                <div class="row">
 <div class="col-md-4">
   <div class="thumbnail">
     <a href="/player">
       <img src="/src/assets/img/toystory1.jpg" alt="Lights" style="width:100%">
       <div class="caption">
         <p>Toy Story 1</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="thumbnail">
     <a href="/player">
       <img src="/src/assets/img/toystory2.jpg" alt="Lights" style="width:100%">
       <div class="caption">
         <p>Toy Story 2</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="thumbnail">
     <a href="/player">
       <img src="/src/assets/img/toystory3.jpg" alt="Lights" style="width:100%">
       <div class="caption">
         <p>Toy Story 3</p>
       </div>
     </a>
   </div>
 </div>
</div>
              </div>

            </div>
          </div>
          <div class="col-sm-5">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="/src/assets/img/demo-screen-1.jpg" class="img-responsive" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

</div>
</template>
