<template>
  <div>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="/home">TONE Networks</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="/loginhome">Sign In</a>
            </li>
            <li>
              <a class="page-scroll" href="#download">Download</a>
            </li>
            <li>
              <a class="page-scroll" href="#download">Pricing</a>
            </li>

            <li>
              <a class="page-scroll" href="#features">Features</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <div class="header-content">
              <div class="header-content-inner">
                <h2>Free Sign Up</h2>
                <div><span class="form-control-static" v-show="errorMsg">{{errorMsg}}</span></div>
                <div class="pre-scrollable col-sm-10">
                  <div id="app">

                    <div class="form-group has-feedback  has-feedback-left">
                      <label class="control-label" for="inputsm">First Name:</label>
                      <i class="glyphicon glyphicon-user"></i>
                      <input class="form-control input-sm" id="fName" type="text" v-model.trim.string.lazy="myuser.firstName" placeholder="First Name" maxlength="10">
                    </div>

                    <div class="form-group">
                      <label for="inputsm">Last Name:</label>
                      <input class="form-control input-sm" id="lName" type="text" v-model.trim.string="myuser.lastName" placeholder="Last Name" maxlength="10">
                    </div>
                    <div class="form-group checkbox">
                      <label for="inputsm">Gender:</label>
                      <label>
                        <input type="radio" value="M" v-model="myuser.gender">Male</label>
                        <label>
                          <input type="radio" value="F" v-model="myuser.gender">Female</label>
                        </div>

                        <div class="form-group">
                          <label for="inputsm">Email:</label>
                          <input class="form-control input-sm" id="eml" type="text" v-model.trim.string.lazy="myuser.email" placeholder="Email@yourdomain.com" maxlength="50">
                        </div>


                        <div class="form-group">
                          <label for="inputsm">Password:</label>
                          <i class="glyphicon glyphicon-lock"></i>
                          <input class="form-control input-sm" id="pwd" type="password" v-model.trim.string="myuser.userPassword" placeholder="Password">
                        </div>
                        <div class="form-group">
                          <label for="inputsm">Phone Number:</label>
                          <input class="form-control input-sm" id="phoneNumber" type="text" v-model.trim.string="myuser.phoneNumber" placeholder="000-000-0000">
                        </div>
                        <div class="form-group">
                          <label for="inputsm">Address:</label>
                          <input class="form-control input-sm" id="add1" type="text" v-model.trim.string="myuser.address" placeholder="Address">
                        </div>
                        <div class="form-group">
                          <label for="inputsm">City:</label>
                          <input class="form-control input-sm" id="city" type="text" v-model.trim.string="myuser.city" placeholder="City">
                        </div>
                        <div class="form-group">
                          <label for="state">State:</label>
                          <select class="form-control" id="state" v-model="myuser.state" >
                            <option>NJ</option>
                            <option>NY</option>
                            <option>NV</option>
                          </select>
                        </div>
                        <hr>
                        <div class="form-group">
                          <label for="inputsm">ZipCode:</label>
                          <input class="form-control input-sm" id="zip" type="text" v-model.trim.string="myuser.zip" placeholder="Zipcode">
                        </div>
                        <div class="form-group">
                          <label for="comment">Comment:</label>
                          <textarea class="form-control" rows="5" id="comment" v-model.trim.string="myuser.comments" placeholder="Comments"></textarea>
                        </div>
                      </div>
                    </div>
                    <hr><hr>

                    <div><a href="#" v-on:click="saveUser" class="btn btn-outline btn-xl page-scroll">Sign Up</a></div>
                    <hr>
                    <div>By signing up, I agree to <a href="">Terms of Service</a></div>
                    <hr>
                    <div>Or, sign up with <a href="/loginhome">Google</a> or <a href="/loginhome">Facebook</a></div>
                    <hr>
                    <div><a href="/loginhome" class="btn btn-outline btn-xl page-scroll">Already have an account? Sign in.</a></div>

                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="device-container">
                  <div class="device-mockup iphone6_plus portrait white">
                    <div class="device">
                      <div class="screen">
                        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                        <img src="/src/assets/img/demo-screen-1.jpg" class="img-responsive" alt="">
                      </div>
                      <div class="button">
                        <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
    </template>
    <script>
    var Vue = require('vue');
    var VueResource = require('vue-resource');
    Vue.use(VueResource);

    export default {
      data(){
        return {
          errorMsg: '',
          fName: '',

          myuser: {
            firstName: "Shahzad",
            //firstName: "",
            lastName: "Akram",
            email: "iiui@hotmail.com",
            userPassword: "master24",
            phoneNumber: "973-666-5807",
            dob: "01/01/2000",
            gender:"M",
            userId: "6",
            address: "2438 7th Ave",
            city: "East Meadow",
            state: "NY",
            zip: "11554",
            comments: "My Comments"
          }
        }
      },
      watch:{
        'myuser.firstName': function (val)
        {
          this.errorMsg = '';
          if(null == this.myuser.firstName.length || 0 == this.myuser.firstName.length)
          {
            this.errorMsg=`First Name must be between 1-10 characters`;
            return;
          }

          if( this.myuser.firstName.length <= 10){
            if( this.myuser.firstName.length >= 1){
              this.errorMsg = '';
            }
            else {
              this.errorMsg=`First Name must be between 1-10 characters`;
            }

          }else{
            this.errorMsg=`First Name must be between 1-10 characters`;
          }
        },
        'myuser.email': function (val)
        {
          if(null == this.myuser.email.length || 0 == this.myuser.email.length)
          {
            this.errorMsg=`Email must be between 5-50 characters`;
            return;
          }

          console.log("total length = "+this.myuser.email.length + " -- " + this.myuser.email.lastIndexOf('.'));

          if( this.myuser.email.length >= 5 && this.myuser.email.indexOf('@')>0 && this.myuser.email.lastIndexOf('.') == this.myuser.email.length - 4 && this.myuser.email.indexOf(' ')!=-1 || this.myuser.email.indexOf('..')!=-1)
          {
            this.errorMsg = '';
          }
          else
          {
            this.errorMsg = "Email is not valid";
          }
        }
      },
      methods:{
        saveUser: function()
        {
          console.log("User userId " + this.myuser.userId);
          console.log("User firstName " + this.myuser.firstName);
          console.log("User lastName " + this.myuser.lastName);
          console.log("User password " + this.myuser.userPassword);

          this.fethcing = true;

          this.$http.post('http://localhost:8080/myuser', this.myuser).then(response =>  {
            // get status
            console.log("Response Status - "+response.status +" -- "+ response.statusText);
            // get body data
            this.someData = response.body;
            console.log("Getting Response -- User.id = " + response.body.userId);

            this.errorMsg = " Data has been saved sucessfully";

            this.fetching = false;
          }, response => {
            // error callback
            this.errorMsg = "Try Later";
            console.error("Some Error Happened");
          });
        },
        handleValidate: function()
        {
          console.log("handleValidate");
        }
      }
    }
    </script>
